<div class="wrapper main-content-alumnos">
  <div class="header-home-alumnos">
  </div>
  <div class="body-alumnos">
    <div class="row mt-5 mb-5">
      <div class="col-12">
        <span class="title-perfil">Bienvenido {{name_user}}</span>
        <br>
        <span class="title-perfil">{{rol}}</span>
      </div>
    </div>
    <div class="container">
      <div class="row mt-3 mb-5" style="text-align: center;">
        <div class="col-12">
          <div class="alert alert-primary" role="alert">
            <span class="title-table">Lista de alumnos registrados</span>
          </div>
        </div>


        <!-- Filtro de busqueda-->
        <div class="col-12" style="padding-bottom: 1rem;">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Buscar alumno por nombre...</mat-label>
            <input matInput (keyup)="applyFilter($event)"#input>
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>

        <ng-container *ngIf="dataSource.data.length > 0; else noData">
          <div class="table-scroll-wrapper">
            <div class="mat-elevation-z8">

              <table mat-table [dataSource]="dataSource" matSort style="min-width: 1200px; width: 100%;">

                <ng-container matColumnDef="matricula">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Matrícula </th>
                  <td mat-cell *matCellDef="let element"> {{element.id_alumno}} </td>
                </ng-container>

                <!-- Columna Nombre -->
                <ng-container matColumnDef="first_name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                  <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
                </ng-container>

                <!-- Columna Apellidos -->
                <ng-container matColumnDef="last_name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
                  <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef> Correo electrónico </th>
                  <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="fecha_nacimiento">
                  <th mat-header-cell *matHeaderCellDef> Fecha nacimiento </th>
                  <td mat-cell *matCellDef="let element"> {{element.fecha_nacimiento | date: 'dd/MM/yyyy':'UTC'}} </td>
                </ng-container>

                <ng-container matColumnDef="telefono">
                  <th mat-header-cell *matHeaderCellDef> Teléfono </th>
                  <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
                </ng-container>

                <ng-container matColumnDef="curp">
                  <th mat-header-cell *matHeaderCellDef> CURP </th>
                  <td mat-cell *matCellDef="let element"> {{element.curp}} </td>
                </ng-container>

                <ng-container matColumnDef="rfc">
                  <th mat-header-cell *matHeaderCellDef> RFC </th>
                  <td mat-cell *matCellDef="let element"> {{element.rfc}} </td>
                </ng-container>

                <ng-container matColumnDef="editar">
                  <th mat-header-cell *matHeaderCellDef> Editar </th>
                  <td mat-cell *matCellDef="let element" class="td-editar">
                    <i class="bi bi-pencil-square" (click)="goEditar(element.id)"></i>
                  </td>
                </ng-container>

                <ng-container matColumnDef="eliminar">
                  <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                  <td mat-cell *matCellDef="let element" class="td-eliminar">
                    <i class="bi bi-trash3-fill" (click)="delete(element.id)"></i>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Fila por si no se encuentran datos -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" [attr.colspan]="displayedColumns.length" style="text-align: center; padding: 20px; font-size: 16px;">
                    No se encontraron datos que coincidan con el filtro "{{input.value}}"
                  </td>
                </tr>
              </table>
            </div>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
              aria-label="Select page of periodic elements" style="min-width: 1200px; width: 100%;">
            </mat-paginator>
          </div>
        </ng-container>

        <!-- Mensaje si no encuentra resultados de busqueda -->
        <ng-template #noData>
          <div class="row">
            <div class="col-12">
              <div class="alert alert-warning" role="alert">
                No hay alumnos registrados.
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>